{% extends "base.html" %}

{% block title %}
  <title>LSV – Morwuwhw word generator</title>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Générer">
  </form>
  {% if gen_words %}
  <p>Une liste de {{ gen_words|length }} mots a été générées.</p>
  <table>
    <tr class="tab-header">
      <th>Mot</th>
    </tr>
    {% for word in gen_words %}
    <tr class="tab-rows">
      <th>{{ word }}</th>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
{% endblock %}
