{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>LSV – Dictionnary Search Result</title>
{% endblock %}

{% block additional_css %}
  <link rel="stylesheet" href="{% static 'css/table-style.css' %}">
{% endblock %}

{% block content %}
  <p>Votre recherche à donner {{ word_list|length }} résultats.</p>
  <div class="container btn btn-primary">
    <a href="{% url 'dictionnary:listword' %}">Retour</a>
  </div>
  <table>
    <tr class="tab-header">
      <th>Français</th>
      <th>Morwuwhw</th>
      <th>Précisions</th>
    </tr>
    {% for word in word_list %}
    <tr class="tab-rows">
      <td><a href="{% url 'dictionnary:detailword' pk=word.pk %}">{{ word.french }}</a></td>
      <td><a href="{% url 'dictionnary:detailword' pk=word.pk %}">{{ word.morwuwhw }}</a></td>
      <td>{{ word.precisions }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
