{% extends "base.html" %}
{% load static %}

{% block title %}
<title>LSV – Morwuwhw dictionnary</title>
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/table-style.css' %}">
<link rel="stylesheet" href="{% static 'css/search-style.css' %}">
{% endblock %}

{% block content %}
<p>Ci-dessous figure un dictionnaire linguistique Français-Morwuwhw.
<p>Mais qu’est-ce que le Morwuwhw ?</p>
<p>Il s’agit d’une langue de mon invention, afin d’étoffer un l’univers d’une histoire qui me trotte dans la tête.</p>
<p>Le dictionnaire contient actuellement {{ word_count }} mots.</p>
<div class="container buttons">
	<div class="row">
		<div class="col-sm-6">
			<form class="search-form" method="post" action="{% url 'dictionnary:searchword' %}">
				{% csrf_token %}
				{{ form.as_p }}
				<input class="btn btn-primary" type="submit" value="Chercher">
			</form>
		</div>
	</div>
</div>
<table>
	<tr class="tab-header">
		<th>Français</th>
		<th>Morwuwhw</th>
		<th>Précisions</th>
	</tr>
	{% for word in word_list %}
	<tr class="tab-row">
		<td class="word-cell hover-highlight"><a href="{% url 'dictionnary:detailword' pk=word.pk %}">{{ word.french }}</a></td>
		<td class="word-cell hover-highlight"><a href="{% url 'dictionnary:detailword' pk=word.pk %}">{{ word.morwuwhw }}</a></td>
		<td>{{ word.precisions }}</td>
	</tr>
	{% endfor %}
</table>

<div class="pagination">
	<span class="step-links">
		{% if page_obj.has_previous %}
		<a href="?page=1">&laquo; first</a>
		<a href="?page={{ page_obj.previous_page_number }}">previous</a>
		{% endif %}

		<span class="current">
			Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
		</span>

		{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}">next</a>
		<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
		{% endif %}
	</span>
</div>
{% endblock %}
