{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>LSV – Dictionnary {{ word.morwuwhw }}</title>
{% endblock %}

{% block additional_css %}
  <link rel="stylesheet" href="{% static 'css/table-style.css' %}">
{% endblock %}

{% block content %}
<table>
  <tr class="tab-header">
    <th>Français</th>
    <th>Morwuwhw</th>
    <th>Précisions</th>
  </tr>
  <tr class="tab-row">
    <td class="word-cell">{{ word.french }}</td>
    <td class="word-cell">{{ word.morwuwhw }}</td>
    <td class="word-cell">{{ word.precisions }}</td>
  </tr>
</table>

<div class="container buttons">
  <a href="{% url 'dictionnary:listword' %}" class="btn btn-primary">Retour</a>
</div>
{% endblock %}
