{% extends 'base.html' %}

{% block title %}
  <title>LSV – À Propos</title>
{% endblock %}

{% block content %}
  <div class="content">
    <p>Bonjour à vous, qui lisez ces lignes,</p>

    <p>Je suis Redmood (Red, pour les intimes) et vous êtes sur mon site
    personnel. Je suis un geek, passioné d’informatique et plus
    particulièrement de programmation. Je programme en langage Python, depuis
    2017. Avant ça, je connaissais déjà bien le langage Java. J’ai été
    initialement formé à la programmation en langage C, puis C++.</p>

    <p>Je m’intéresse également au développement Web (ce qui explique, plus ou
    moins, ce site), avec Django, notamment. Je suis plutôt développeur
    backend, mais j’ai tout de même quelques bonnes notions de bases des
    langages HTML et CSS (et notamment des technologies telles que CSS grid et
    les media queries, pour le responsive design). J’ai également de bonnes
    notions sur le langage JavaScript.</p>

    <p>Je suis également libriste. J’ai découvert la philosophie du logiciel
    libre un peu par hasard, en me baladant sur le net. C’est au Capitole du
    Libre, à Toulouse, en 2017, que j’en ai vraiment saisi l’essence et les
    enjeux politiques et sociaux. De là est née l’envie de m’engager pour le
    logiciel libre. Aujourd’hui, je fais partie de l’association La Librerie,
    pour laquelle je suis développeur de module Odoo (modules développés en
    Python). Et je fais également parti de l’association franciliens.net, un
    Fournisseur d’Accès Internet, qui défend la neutralité du net et la vie privée de
    ses utilisateurs.</p>

    <p>Sur ce site, vous trouverez, quelques projets personnels, qui occupent
    parfois mes dimanches, mes soirées et parfois tout ou partie de mes nuits.
    Vous trouverez aussi, mon blog personnel, dans lequel j’écris des articles
    sur des sujets qui me tiennent à coeur. Il s’agit donc souvent d’article
    sur nos usages du numériques, au regard de nos libertés et de notre vie
    privée. Mais, je peux aussi dérivé sur des sujets plus liés à l’écologie
    (et notamment lorsque écologie et numérique se mêlent). Et, il n’est pas
    exclu, de trouver, ça et là, des articles sur des sujets, qui sortent un
    peu de ses problèmatiques.</p>

    <p>Librement,</p>
    <p>Redmood.</p>
  </div>
{% endblock %}
