{% extends 'base.html' %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'home/css/home-style.css' %}">
{% endblock %}

{% block title %}
<title>LSV – Accueil</title>
{% endblock %}

{% block banner %}
<img class="img-banner" src="{% static 'img/lsv-banner.png' %}" alt="LSV banner" />
{% endblock %}

{% block content %}
<div class="content">

	<p class="me">Dans ce blog, je vous parlerais du monde du logiciel libre. Un
		monde dans lequel les programmes informatiques sont fournis avec le code
		source et (la plupart du temps) avec le mode d’emploi détaillé. Vous pouvez
		savoir exactement, tous ce que le programme fait (et surtout ce qu’il ne
		fait pas), et comment il le fait.</p>

	<p class="you black-font">C’est quoi un logiciel libre ? C’est quoi la différence avec
		un logiciel « normal » ?</p>

	<p class="me">À logiciel libre, on oppose les logiciels dits propriétaires.
		Personnellement, je préférerais remplacer le terme logiciel « libre », par
		logiciel « commun », car il est naturellement opposé à la notion de
		propriété individuelle. Et aussi, parce qu’il est bien plus descriptif de ce qu’est un
		logiciel libre.

		<p class="me">En effet, ce n’est pas le logiciel, qui est libre, mais vous. Vous
			êtes libres d’en faire ce que vous voulez, de l’étudier, de le modifier, de
			le partager avec vos amis, ou même la Terre entière. </p>

		<p class="me">À l’inverse, un
			logiciel propriétaire, vous interdit toutes ces choses et utilisent,
			notamment, un système de license payante, pour mieux contrôler votre usage
			du logiciel. Vous payez, mais le logiciel ne vous appartient pas
			réellement. En fait, vous ne faîtes que le louer.</p>

		<p class="me">Je suis un passionné d’informatique et de l’univers du libre. J’en
			apprends un peu tous les jours et ce blog me permet de partager ce que j’ai
			déjà appris, et ce que je continue d’apprendre.</p>

		<blockquote class="black-font">
			<p>« Big Mother veut nous débarrasser d’une nouvelle forme de violence
				impossible à traiter par les modes de combat classiques : le terrorisme.
				Jamais le monde, dans son ensemble, n’a été plus sûr. Jamais le sentiment
				d’insécurité n’a été aussi fort. Grâce notamment à Internet, se crée une
				dramaturgie mondiale […] qui justifie l’alliance des big data et du monde
				du renseignement pour une mise sous surveillance sens précédent de
				l’humanité. […] Ce pouvoir supranational […] s’installe sans bruit... »</p>
			<footer>L’homme nu : La dictature invisible du numérique – Marc Dugain et
				Christophe Labbé, Robert Laffon, 2016; Plon 2016.</footer>
		</blockquote>

		<section id="portfolio-latest">
			<h1>Derniers projects mis en lignes</h1>
			{% for project in projects %}
			<div class="card portfolio-card">
				{% if project.thumbnail %}
				<div class="card-image">
					<figure class="image">
						<img class="project-image" src="/media/{{ project.thumbnail}}" alt="{{ project.title }} thumbnail">
					</figure>
				</div>
				{% endif %}
				<div class="card-content">
					<p>{{ project.title }}</p>
				</div>
			</div>
			{% endfor %}
		</section>
</div>

{% endblock %}
