{% extends 'base.html' %}

{% block title %}
  <title>LSV — Mentions Légales</title>
{% endblock %}

{% block content %}
  <div class="content">
    <p>Ce site est hébergé chez : </p>
    <p>Gandi International</p>
    <p>63, 65 Boulevard Massena, 75013 Paris France</p>
    <p>Tel : +33170377661</p>
  </div>
{% endblock %}
