{% extends "base.html" %}

{% block title %}
  <title>LSV – login</title>
{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-primary" type="submit">Login</button>
</form>
<p>Vous n’avez pas encore de compte ? Veuillez contacter le web master.</a></p>
{% endblock %}
