.img-banner {
  max-height: 380px;
}

.you:before {
  content: " — ";
}

.you {
  background: #f9eaff;
  padding: 8px;
  margin: 30px 0 30px 0;
  border: solid red 2px;
  border-radius: 15px;
}

#portfolio-latest h1 {
  color: white;
}

.portfolio-card {
  height: 100%;
  display: inline-block;
  margin-bottom: 20px;
}

.project-image {
  max-height: 180px;
}
