@charset "UTF-8";

/* COLORS -----------

Red			#A11E22
Black		#000000
Gray		#666666
Light Gray	#999999
Dark Gray	#323232
White		#FFFFFF

-------------------*/

body {
  color: white;
  background: #222222;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
}

h1[class="title"] {
  color: white;
}

.section {
  padding: 0.3rem 1.5rem;
}

.banner {
  background: black;
  text-align: center;
}

.black-font {
  color: black;
}

.ressoc {
  display: inline-block;
}

footer {
  border-top: solid 1px white;
  margin-top: 20px;
  padding-top: 5px;
  text-align: center;
}
