table {
  text-align: left;
  font-size: 130%;
}

th, td {
  line-height: 130%;
  padding-right:20px;
  padding-bottom: 8px;
}

.tab-header {
  border-bottom: 1px solid white;
}

.tab-row {
  border-bottom: 5px solid gray;
}

.hover-highlight:hover {
  color: white;
  background: #62124d;
}

td a {
  text-decoration: none;
}
