.room-welcome {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
}

#room-name {
  color: lightblue;
}

.chatbox {
  background-image: url('../img/chatbox-bg.jpg');
  height: 70vh;
  overflow: scroll;
  resize: none;
  color: #424242;
}

.username {
  font-weight: bold;
  color: red;
}

td[class~='username'] {
  min-width: 15%;
}

td[class~='username']::after {
  content: ':';
}

.message {
  padding-left: 5px;
  background: transparent;
  font-size: 100%;
}

.usersbox {
  padding-left: 5px;
  background-image: url('../img/usersbox-bg.jpg');
  height: 40vh;
  color: darkblue;
  font-weight: bold;
}

#chat-message-input {
  width: 100%;
  height: 8vh;
}
