{% extends "base.html" %}
{% load static %}

{% block title %}
<title>LSV – Écrits</title>
{% endblock %}

{% block content %}
<p>Ci-dessous figure une liste de mes oeuvres écrites. Du moins, celles
qui sont décemment publiables.</p>

{% for novel in object_list %}
<a href="{{ novel.url }}">
  <div class="card">
    <div class="card-content">
      <p class="title">{{ novel.title }}</p>
      <p>{{ novel.summary | safe }}</p>
    </div>
  </div>
</a>
{% endfor %}

{% endblock %}
