{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>LSV – Rollchat Room {{ room_name }}</title>
{% endblock %}

{% block additional_css %}
  <link rel="stylesheet" href="{% static 'rollchat/css/rollchat.css' %}">
{% endblock %}

{% block content %}
  <h1 class="room-welcome">Bienvenue <span id="user_name" class="username">{{ username }}</span>, tu es dans la room : <span id='room-name'>{{ room_name }}</span></h1>
  <div class="columns">
    <div class="column is-two-thirds">
      <div class="chatbox" id="chat-log">
        <table>
        </table>
      </div><br>
      <textarea id="chat-message-input" type="text" placeholder="Écrivez votre message ici"></textarea><br>
      <input id="chat-message-submit" type="button" value="Envoyer">
    </div>
    <div class="column is-one-third">
      <div class="usersbox">
        <ul>
        </ul>
      </div>
      <p>Comment lancez un dé ? Par exemple : <br>
      <ul>
        <li>– Pour lancer un dé 20, écrivez : #d20</li>
        <li>– Pour lancer 3 dès 6, écrivez : #3d6</li>
      </ul>
      Enjoy !! :D
    </div>
  </div>
{% endblock %}

{% block bottom_additional_js %}
  <script type="text/javascript" src="{% static 'rollchat/js/reconnecting-websocket/reconnecting-websocket.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'rollchat/js/chat-room.js' %}"></script>
{% endblock %}
