{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>LSV – Rollchat Salon</title>
{% endblock %}

{% block content %}
  <p>Choisissez votre room :</p>
  <table>
    <tr class="tab-header">
      <th>Room</th>
      <th></th>
    </tr>
    {% for room in object_list %}
      <tr class="tab-row">
        <td>{{ room.slug }}</td>
        <td>
          <a class="button" href="{% url 'rollchat:room' slug=room.slug %}">Join</a>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
